<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%=htmlWebpackPlugin.options.title%></title>
</head>
<body>
<div id="app">{{body}} </div>
<script>window.__INITIAL_STATE={{initialState}}</script>
<script type="text/javascript" src="/libs/vendor.dll.js"></script>
</body>
</html>